<div>
    <section class="grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="main-head">SpaceX Launch Programs</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 bg-white-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="filters">
                                <h2>Filters</h2>
                                <p>Launch year</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="lanuch-years">
                                <a (click)="getYear(2006)" href="#">2006</a>
                                <a (click)="getYear(2008)" href="#">2008</a>
                                <a (click)="getYear(2010)" href="#">2010</a>
                                <a (click)="getYear(2012)" href="#">2012</a>
                                <a (click)="getYear(2014)" href="#">2014</a>
                                <a (click)="getYear(2016)" href="#">2016</a>
                                <a (click)="getYear(2018)" href="#">2018</a>
                                <a (click)="getYear(2020)" href="#">2020</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="lanuch-years">
                                <a (click)="getYear(2007)" href="#">2007</a>
                                <a (click)="getYear(2009)" href="#">2009</a>
                                <a (click)="getYear(2011)" href="#">2011</a>
                                <a (click)="getYear(2013)" href="#">2013</a>
                                <a (click)="getYear(2015)" href="#">2015</a>
                                <a (click)="getYear(2017)" href="#">2017</a>
                                <a (click)="getYear(2019)" href="#">2019</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-lg-12">
                            <div class="filters">
                                <p>Successful Launch</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="lanuch-years">
                                <a (click)="getLaunching(true)" href="#">True</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="lanuch-years">
                                <a (click)="getLaunching(false)" href="#">False</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-lg-12">
                            <div class="filters">
                                <p>Successful Landing</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="lanuch-years">
                                <a (click)="getLanding(true)" href="#">True</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="lanuch-years">
                                <a (click)="getLanding(false)" href="#">False</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-3" *ngFor="let year of years">
                            <div class="product-detail bg-white">
                                <img src="{{year.links.mission_patch_small}}" alt="">
                                <h4>{{year.mission_name}} #{{year.flight_number}}</h4>
                                <h2>Mission IDs :{{year.mission_id}}</h2>
                                <h2>Launch Year :{{year.launch_year}}</h2>
                                <h2>Sucessful Launch :{{year.launch_success}}</h2>
                                <h2>Sucessful Landing :{{year.rocket.first_stage.cores[0].land_success}}</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>